body {
  margin: 0;
  min-width: 960px;

  font-family: "Cuprum", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.invisible {
  display: none;
}

.width-viewboard {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: rgb(243, 247, 249);
  padding-bottom: 60px;
}

.main-header a,
.advantages-list a {
  text-decoration: none;
}

.page-top-menu {
  margin-bottom: 45px;

  background-color: rgb(41, 52, 73);
}

.main-header-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 940px;

  font-size: 17px;
  line-height: 18px;
  color: rgb(255, 255, 255);
}

.main-header-top-menu a {
  display: block;
  width: 150px;
  padding: 12px;
  padding-left: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
  color: rgb(255, 255, 255);
}

.top-menu-logo {
  width: 220px;
  height: 42px;

  vertical-align: middle;

  background-color: rgb(238, 54, 67);
  -webkit-box-shadow: 0 5px 0 0 rgb(181, 41, 51);
  box-shadow: 0 5px 0 0 rgb(181, 41, 51);
}

.top-menu-logo a {
  display: block;
  width: 220px;
  padding: 0;
  padding-top: 14px;

  text-align: center;
  font-size: 24px;

  text-transform: uppercase;
}

.top-menu-logo:hover,
.top-menu-logo:focus {
  background-color: rgb(202, 44, 55);
  -webkit-box-shadow: 0 5px 0 0 rgb(154, 33, 42);
  box-shadow: 0 5px 0 0 rgb(154, 33, 42);
}

.top-menu-logo:active {
  background-color: rgb(186, 39, 50);
  -webkit-box-shadow: 0 5px 0 0 rgb(142, 30, 38);
  box-shadow: 0 5px 0 0 rgb(142, 30, 38);
}

.top-menu-search {
  position: relative;

  width: 270px;

  background-color: rgb(41, 52, 73);
}

.index-search {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 48px;
  width: 100%;

  color: rgb(255, 255, 255);

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: rgb(41, 52, 73);
}

.index-search:focus {
  color: black;

  background-color: rgb(255, 255, 255);
}

.top-menu-search::before {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.input-focus::before {
  position: absolute;
  top: 12px;
  left: 20px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;

  content: "";
}

.index-search:focus ~ form::before {
  background-image: url("../img/icon-search-red.svg");
  opacity: 1;
}

.top-menu-search:hover::before {
  opacity: 1;
}

.index-search:hover {
  background-color: rgb(33, 42, 58);
}

.index-search::-webkit-input-placeholder,
.index-search:hover::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.index-search:-ms-input-placeholder,
.index-search:hover:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.index-search::-ms-input-placeholder,
.index-search:hover::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.index-search::placeholder,
.index-search:hover::placeholder {
  color: rgb(255, 255, 255);
}

.index-search:focus::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

.index-search:focus:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

.index-search:focus::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

.index-search:focus::placeholder {
  color: rgb(0, 0, 0);
}

.index-search:focus:hover {
  background-color: rgb(255, 255, 255);
}

.top-menu-bookmark {
  position: relative;
}

.top-menu-bookmark a:hover,
.top-menu-bookmark a:focus {
  background-color: rgb(33, 42, 58);
}

.top-menu-bookmark a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(22, 29, 41);
}

.top-menu-bookmark a::before {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.top-menu-bookmark a:hover::before,
.top-menu-bookmark a:focus::before {
  opacity: 1;
}

.top-menu-bookmark a:active::before {
  opacity: 0.3;
}

.top-menu-basket {
  position: relative;
}

.top-menu-basket a:hover,
.top-menu-basket a:focus {
  background-color: rgb(33, 42, 58);
}

.top-menu-basket a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(22, 29, 41);
}

.top-menu-basket a::before {
  position: absolute;
  top: 12px;
  left: 18px;

  width: 14px;
  height: 16px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.top-menu-basket a:hover::before,
.top-menu-basket a:focus::before {
  opacity: 1;
}

.top-menu-basket a:active::before {
  opacity: 0.3;
}

.main-header-top-menu p {
  margin: 0;
  padding: 0;
}

.not-empty a {
  background-color: rgb(238, 54, 67);
}

.top-menu-order a {
  padding-left: 10px;

  background-color: rgb(99, 166, 62);
}

.top-menu-order a:hover,
.top-menu-order a:focus {
  background-color: rgb(95, 187, 45);
}

.top-menu-order a:active {
  background-color: rgb(81, 133, 52);
}

.main-header-authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 940px;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 21px;
}

.main-header-index {
  margin-bottom: 40px;
}

.main-authentication {
  width: 300px;
  margin-left: auto;
}

.sing-in {
  width: 280px;
}

.main-title {
  width: 250px;
  margin-right: 20px;
  padding-left: 50px;

  font-style: italic;
  color: rgb(238, 54, 67);
}

.main-title h1,
.main-title p {
  margin: 0;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 50px;

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.site-address {
  margin: 0;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 270px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 24px;
  color: rgb(50, 66, 92);
  text-align: center;
}

.site-address a {
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-bottom: 4px;

  font-size: 21px;
  line-height: 21px;
  color: rgb(238, 54, 67);

  border: 3px solid rgb(255, 255, 255);
}

.site-address {
  position: relative;
}

.site-address a::before {
  position: absolute;
  top: 14px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.advantages {
  margin-top: 59px;
}

.index-advantages-first-line .advantages-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.index-advantages-first-line li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.index-advantages-first-line li:nth-child(3n) {
  margin-right: 0;
}

.index-advantages-second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.index-advantages-second-line .advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.index-advantages-second-line .card-4:first-child {
  margin-bottom: 20px;
}

.advantages-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-authentication a {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.site-authentication .site-login {
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 46px;
  width: 121px;
}

.site-login::before {
  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.site-login:hover::before,
.site-login:focus::before {
  opacity: 1;
}

.site-login:hover,
.site-login:focus,
.site-registration:hover,
.site-registration:focus {
  color: rgb(238, 54, 67);
}

.site-login:active,
.site-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-login:active::before {
  opacity: 0.3;
}

.site-registration {
  width: 150px;

  text-align: center;
}

.current-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;

  background-color: rgb(255, 255, 255);
}

.current-person a {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;

  color: rgb(0, 0, 0);
}

.current-person .icon-login {
  position: relative;

  padding-left: 47px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.current-person .icon-login::before {
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.icon-logout {
  margin-left: auto;
  padding-right: 10px;

  opacity: 0.3;
}

.current-person a:hover::before,
.current-person a:focus::before,
.current-person a:hover,
.current-person a:focus {
  opacity: 1;
}

.current-person:active a {
  color: rgba(0, 0, 0, 0.3);
}

.current-person a:active:before,
.current-person a:active::after {
  opacity: 0.3;
}

.check-in {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.check-in a {
  position: relative;

  padding: 8px 9px 12px 18px;
  margin-right: 5px;

  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);

  background-color: rgb(243, 247, 249);
  text-decoration: underline;
}

.check-in a:hover,
.check-in a:focus {
  color: rgb(238, 54, 67);
}

.check-in a:active {
  color: rgba(50, 66, 92, 0.3);
}

.private-office::before {
  position: absolute;
  top: 15px;
  left: 1px;

  width: 4px;
  height: 4px;

  background-color: rgb(50, 66, 92);
  border-radius: 50%;

  content: "";
}

.main-navigation {
  width: 940px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 17px;

  background-color: rgb(50, 66, 92);
  border-bottom: 5px solid rgb(41, 52, 73);
}

.main-navigation a {
  color: rgb(255, 255, 255);
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 22px;

  text-align: center;

  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 31px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: rgb(41, 52, 73);
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgb(29, 39, 57);
}

.centered {
  width: 940px;
  margin: 0 auto;
}

.background-white {
  background-color: rgb(255, 255, 255);
}

.background-grey {
  background-color: rgb(243, 247, 249);
}

.container h1 {
  padding: 30px 30px 30px 27px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(50, 66, 92);

  background-color: rgb(243, 247, 249);
  text-transform: uppercase;
}

.advantages-item-card {
  position: relative;

  width: 300px;
  height: 123px;

  color: rgb(255, 255, 255);
}

.advantages-item-card span {
  position: absolute;
  top: 20px;
  left: 22px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.advantages-item-card a {
  position: absolute;
  left: 25px;
  bottom: 22px;

  display: block;
  width: 135px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgb(255, 255, 255);

  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-1 {
  background-color: rgb(255, 191, 71);
}

.card-1::before {
  position: absolute;
  right: 0;
  z-index: 20;

  width: 60px;
  height: 60px;

  background-image: url("../img/new_flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.card-2 {
  background-color: rgb(59, 188, 227);
}

.card-3 {
  background-color: rgb(220, 145, 216);
}

.card-4 {
  background-color: rgb(142, 215, 143);
}

.card-5 {
  background-color: rgb(255, 191, 71);
}

.advantages-item-card a:hover,
.advantages-item-card a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.advantages-item-card a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-image-1 {
  position: absolute;
  top: 31px;
  right: 43px;
}

.advantages-item-image-2 {
  position: absolute;
  top: 33px;
  right: 28px;
}

.advantages-item-image-3 {
  position: absolute;
  top: 31px;
  right: 31px;
}

.advantages-item-image-4 {
  position: absolute;
  top: 26px;
  right: 45px;
}

.advantages-item-image-5 {
  position: absolute;
  top: 32px;
  right: 31px;
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.advantages-item-image {
  position: absolute;
  top: 0;
  left: 0;
}

.slider-title {
  position: absolute;
  top: 23px;
  left: 23px;

  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-humorous-description {
  position: absolute;
  top: 60px;
  left: 24px;

  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 24px;
}

.slider a {
  position: absolute;
  left: 25px;
  bottom: 22px;

  display: block;
  width: 195px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-align: center;

  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
}

.slider a:hover,
.slider a:focus {
  background-color: rgb(202, 44, 55);
}

.slider a:active {
  background-color: rgb(186, 39, 50);
}

.slider-point {
  position: absolute;

  width: 10px;
  height: 10px;

  background-image: url("../img/slide-not-active.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 50%;
}

.slider-point-1 {
  bottom: 37px;
  right: 315px;
}

.slider-point-2 {
  bottom: 37px;
  right: 295px;
}

.slider-point-active {
  background-image: url("../img/slide-active.jpg"),
    url("../img/slide-not-active.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%, 0 0;
}

.slider-btn-next-slide {
  position: absolute;
  top: 112px;
  right: 15px;

  background: none;
  border: none;
}

.slider-btn-prev-slide {
  position: absolute;
  top: 113px;
  left: 18px;

  background: none;
  border: none;
}

.popular-goods {
  margin-top: 53px;
}

.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-goods-header,
.popular-manufacturers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 25px 26px 28px;

  background-color: rgb(249, 245, 240);
}

.popular-manufacturers-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.popular-goods-header h2,
.popular-manufacturers-header h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  font-weight: 400;

  text-transform: uppercase;
}

.popular-goods-header a,
.popular-manufacturers-header a {
  display: block;
  width: 253px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-align: center;

  border-radius: 3px;
  background-color: rgb(238, 54, 67);
  text-decoration: none;
  text-transform: uppercase;
}

.popular-goods-header a:hover,
.popular-goods-header a:focus,
.popular-manufacturers-header a:hover,
.popular-manufacturers-header a:focus {
  background-color: rgb(202, 44, 55);
}

.popular-goods-header a:active,
.popular-manufacturers-header a:active {
  background-color: rgb(186, 39, 50);
}

.popular-goods-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;

  list-style: none;
}

.popular-goods-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;

  border: 1px solid rgb(234, 234, 234);
}

.popular-goods-item:hover {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}

.popular-goods-item h3 {
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  font-size: 18px;
  line-height: 20px;
}

.popular-goods-item p {
  margin: 0;
  margin-bottom: 10px;

  color: rgb(169, 169, 169);
  font-size: 17px;
  line-height: 18px;

  text-decoration: line-through;
}

.popular-goods-item button {
  width: 141px;
  height: 38px;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 8px;

  font-weight: 700;
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.popular-goods-item::after {
  position: absolute;
  right: 33px;
  bottom: 34px;

  width: 0;
  height: 0;

  border: 12px solid #ff44ee;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: transparent;
  border-left-color: transparent;

  content: "";
}

.popular-goods-item::before {
  position: absolute;
  right: 33px;
  bottom: 20px;

  width: 0;
  height: 0;

  border: 12px solid #ff44ee;
  border-top-color: transparent;
  border-right-color: rgb(255, 255, 255);; border-bottom-color: rgb(255, 255, 255);
  border-left-color: transparent;

  content: "";
}

.new-good {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 60px;

  background: url("../img/new_flag.png") no-repeat 0 0;
}

.popular-goods-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(98, 166, 62);
  border: 3px solid rgb(98, 166, 62);
  border-bottom-color: rgb(54, 115, 21);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  color: rgb(50, 66, 92);

  background: rgb(255, 255, 255);
  border-bottom-color: rgb(98, 166, 62);
}

.actions .buy {
  position: relative;
}

.actions .buy::before {
  position: absolute;
  top: 8px;
  left: 10px;

  width: 14px;
  height: 16px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.actions .buy:hover::before,
.actions .buy:focus::before,
.actions .buy:active::before {
  opacity: 1;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: rgb(95, 187, 45);
  border-top-color: rgb(95, 187, 45);
  border-left-color: rgb(95, 187, 45);
  border-right-color: rgb(95, 187, 45);
}

.actions .buy:active {
  background-color: rgb(81, 133, 52);
  border: 3px solid rgb(81, 133, 52);
}

.actions .bookmark:hover,
.actions .bookmark:focus {
  border-color: rgb(50, 66, 92);
}

.actions .bookmark:focus {
  opacity: 0.3;
}

.popular-goods-item .actions {
  display: none;
}

.popular-goods-item:hover .actions,
.popular-goods-item:focus .actions {
  display: block;
}

.manufacturers-list {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.manufacturers-list li {
  margin-right: 20px;
}

.manufacturers-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturers-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgb(234, 234, 234);
}

.popular-manufacturers-item img {
  position: absolute;
}

.manufacturers-list-item:nth-child(1) img {
  top: 51px;
  left: 46px;
}

.manufacturers-list-item:nth-child(2) img {
  top: 48px;
  left: 47px;
}

.manufacturers-list-item:nth-child(3) img {
  top: 46px;
  left: 36px;
}

.manufacturers-list-item:nth-child(4) img {
  top: 19px;
  left: 8px;
}

.manufacturers-list-item:nth-child(5) img {
  top: 56px;
  left: 27px;
}

.manufacturers-list-item:nth-child(6) img {
  top: 33px;
  left: 47px;
}

.manufacturers-list-item:nth-child(7) img {
  top: 21px;
  left: 34px;
}

.manufacturers-list-item:nth-child(8) img {
  top: 32px;
  left: 9px;
}

.popular-manufacturers-item:hover {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}

.popular-manufacturers-item:active {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.main-footer p {
  margin: 0;
}

.footer-main-style-top-line {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.footer-main-style-top-line ul {
  padding: 0;

  list-style: none;
}

.footer-main-style-top-line a {
  color: rgb(255, 255, 255);

  text-decoration: none;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 549px;
  margin: 0;
  margin-top: 25px;
}

.footer-navigation-list img {
  width: 220px;
  height: 68px;
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);

  text-decoration: none;
}

.move-to-right {
  margin-left: auto;
}

.top-line {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 22px;
}

.bottom-line-left-column {
  width: 335px;
}

.bottom-line-left-column p {
  margin: 0;
  margin-bottom: 49px;
}

.bottom-line-right-column {
  width: 525px;
}

.footer-services-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-services-list a {
  color: rgb(255, 209, 128);
}

.footer-services-list a:hover,
.footer-services-list a:focus {
  text-decoration: underline;
}

.footer-services-list a:active {
  color: rgba(255, 209, 128, 0.5);

  text-decoration: none;
}

.modal {
  display: none;
}

.footer-main-style-bottom-line {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

.footer-main-style-bottom-line a {
  color: rgb(255, 255, 255);

  text-decoration: none;
}

.footer-bottom-line-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
}

.copyright {
  width: 227px;
  margin-right: 163px;
}

.feedback {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: auto;
}

.feedback p {
  width: 140px;
  padding-left: 30px;
}

.feedback :last-child {
  width: 100px;
}

.feedback a {
  color: rgb(255, 209, 128);
}

.feedback a:hover,
.feedback a:focus {
  text-decoration: underline;
}

.feedback a:active {
  color: rgb(238, 54, 67);

  text-decoration: none;
}

.social-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.footer-social {
  width: 130px;
  padding-bottom: 41px;
}

.social-list a {
  display: block;
  width: 40px;
  height: 30px;
  padding-top: 10px;

  text-align: center;

  border-radius: 50%;
  background-color: rgb(33, 42, 58);
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  background-color: rgb(238, 54, 67);
}

.catalog-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 51px;

  list-style: none;
}

.pagination-item {
  display: block;
  padding: 9px 14px;
  margin-right: 11px;

  font-size: 13px;
  line-height: 18px;
  color: rgb(0, 0, 0);

  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.pagination-item:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border: 1px solid rgb(238, 54, 67);
}

.pagination-next {
  width: 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
}

.index-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.services {
  margin-bottom: 78px;
}

.services h2 {
  text-transform: uppercase;
}

.services p {
  padding: 0;
  margin: 0;
  padding-top: 26px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-tagline {
  width: 400px;
  padding-top: 65px;
  margin-bottom: 67px;
}

.services-tagline h2 {
  margin: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.services-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list::after {
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 10;

  width: 10px;
  height: 280px;

  background-image: url("../img/services-separator.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.btn-services {
  padding: 14px 15px 17px 21px;
  margin-bottom: -1px;
  width: 240px;

  line-height: 30px;
  font-size: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;

  background-color: rgb(50, 66, 92);
  border: 1px solid rgb(41, 52, 73);
}

.btn-services:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

.btn-service-current {
  color: rgb(50, 66, 92);

  background-color: rgb(255, 255, 255);
  border: none;
}

.services-name {
  width: 240px;
}

.services-name-description {
  font-size: 36px;
  line-height: 36px;
  color: rgb(50, 66, 92);

  text-transform: uppercase;
}

.services-description {
  position: relative;

  width: 620px;
}

.services-description p {
  padding-top: 22px;
}

.services-description-delivery p {
  width: 275px;
}

.services-description-guarantee p {
  width: 380px;
}

.services-description img {
  position: absolute;
  top: 24px;
  right: 1px;
}

.services-description-guarantee img {
  top: 2px;
  right: -8px;
}

.services-description-credit img {
  top: 0;
  right: -10px;
}

.services-description-credit a {
  display: block;
  width: 195px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-align: center;

  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.services-description-credit p {
  padding-bottom: 28px;
}

.index-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-us {
  width: 540px;
}

.about-us p {
  margin: 0;
}

.index-about-us h2 {
  margin: 0;
  margin-bottom: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  text-transform: uppercase;
}

.index-about-us p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us-delivery {
  width: 400px;
  padding-top: 24px;
  padding-bottom: 12px;
}

.transport-companies {
  padding-left: 36px;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.transport-companies li {
  position: relative;

  padding-top: 9px;
  padding-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
}

.transport-companies li::before {
  position: absolute;
  top: 18px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-image: url("../img/list-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.about-us a {
  display: block;
  width: 220px;
  padding: 11px 8px 9px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgb(255, 255, 255);

  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  text-decoration: none;
}

.about-us a:hover,
.about-us a:focus {
  background-color: rgb(202, 44, 55);
}

.about-us a:active {
  background-color: rgb(186, 39, 50);
}

.contacts-map {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.contacts-map a {
  display: block;
  width: 300px;
  padding: 11px 4px 9px 10px;
  margin-top: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgb(255, 255, 255);

  text-transform: uppercase;
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  text-decoration: none;
}

.contacts-map a:hover,
.contacts-map a:focus {
  background-color: rgb(202, 44, 55);
}

.contacts-map a:active {
  background-color: rgb(186, 39, 50);
}

.contacts-map p {
  margin: 0;
  width: 218px;
  margin-bottom: 31px;
}

.open-popup {
  display: block;
}

.modal-write-us {
  position: absolute;
  z-index: 15;

  width: 620px;
  height: 430px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 50px 0 rgb(0, 0, 0);
  box-shadow: 0 10px 50px 0 rgb(0, 0, 0);

  -webkit-animation-name: show-modal-write-us;
  animation-name: show-modal-write-us;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.contacts-map {
  position: relative;
}

.modal-map {
  position: absolute;
  z-index: 15;

  width: 940px;
  height: 446px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  -webkit-animation-name: show-map;
  animation-name: show-map;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.write-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
}

.person-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person-data p {
  width: 218px;
}

.person-data input {
  width: 200px;
  padding: 8px;
  margin-top: 13px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid rgb(215, 220, 222);
  border-radius: 3px;
}

.person-data label,
.write-us-message label {
  display: block;

  font-size: 18px;
  line-height: 18px;
}

.write-us-message textarea {
  width: 438px;
  height: 92px;
  padding: 10px;
  margin-bottom: 74px;
  margin-top: 13px;

  resize: none;
  border: 2px solid rgb(215, 220, 222);
  border-radius: 3px;
}

.person-data input:hover,
.write-us-message textarea:hover {
  border-color: rgb(181, 181, 181);
}

.person-data input:focus,
.write-us-message textarea:focus {
  border-color: rgb(238, 54, 67);
}

.btn-write-us-submit {
  padding: 9px;

  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

.modal-header {
  width: 620px;
  height: 7px;

  background-color: rgb(238, 54, 67);
}

.btn-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  border: none;
  background-color: transparent;
  background-image: url("../img/btn-close.svg");
}

.breadcrumps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 0;

  list-style: none;
}

.breadcrumps a,
.breadcrumbs-current {
  padding: 4px 27px 0 14px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgb(0, 0, 0);

  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumps a::after {
  position: absolute;
  z-index: 1;

  width: 20px;
  height: 20px;

  border-radius: 50px 0 0 0;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 1px 1px 0 1px rgb(193, 198, 206);
  box-shadow: 1px 1px 0 1px rgb(193, 198, 206);
  -webkit-transform: rotate(-45deg) scale(0.4) translate(10px, 10px);
  -ms-transform: rotate(-45deg) scale(0.4) translate(10px, 10px);
  transform: rotate(-45deg) scale(0.4) translate(10px, 10px);

  content: "";
}

.breadcrumps-item-1 {
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.catalog-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  font-family: "PT Sans", "Arial", sans-serif;
}

.filter {
  width: 220px;

  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgb(247, 243, 236);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgb(215, 220, 222);
}

.range-controls .bar {
  width: 160px;
  height: 2px;

  background-color: rgb(0, 202, 116);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(171, 171, 171);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
  box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.sort {
  width: 700px;
}

.sort-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 9px 10px 11px 18px;

  font-size: 13px;
  line-height: 18px;

  background-color: rgb(247, 243, 236);
  text-transform: uppercase;
  border-radius: 3px;
}

.sort-flex p {
  margin: 0;
}

.catalog-sort-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 450px;
}

.sort-type-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.width-for-sorting {
  width: 353px;
}

.sort-type {
  color: rgba(0, 0, 0, 0.3);

  text-decoration: none;
  border-bottom: 1px dotted rgba(238, 54, 67, 0.3);
}

.sort-type:hover,
.sort-type:focus {
  color: rgb(0, 0, 0);
}

.current-sort-type,
.current-sort-type:hover,
.current-sort-type:focus {
  color: rgb(238, 54, 67);

  border-bottom: none;
}

.icon-dir:hover,
.icon-dir:focus {
  fill: rgb(0, 0, 0);
}

.icon-dir {
  fill: rgba(0, 0, 0, 0.3);
}

.current-icon-dir,
.current-icon-dir:hover,
.current-icon-dir:focus {
  fill: rgb(238, 54, 67);
}

.sorting-types-dir {
  padding-left: 10px;
  padding-right: 10px;
}

.filter-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 9px 10px 11px 18px;

  font-size: 13px;
  line-height: 18px;

  background-color: rgb(247, 243, 236);
  border-radius: 3px;
}


.filter-price-range input {
  width: 100%;
}

.filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 4px;
}

.filter-price input {
  width: 95px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 11px;

  text-align: center;

  background-color: rgb(247, 243, 236);
  border: none;
  border-radius: 3px;
}

.filter .filter-fieldset {
  border: none;
  padding: 0;
}

.filter-fieldset .filter-name {
  padding: 0 0 14px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter-fieldset {
  margin: 0;
}

.filter hr {
  margin: 0;
  margin-bottom: 19px;
  margin-top: 18px;
}

.filter ul {
  list-style: none;
  margin: 0;
}

.filter button {
  width: 140px;
  padding: 9px 0;
  margin-top: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 13px;
  line-height: 18px;
  text-align: center;

  border: 1px solid rgb(234, 234, 234);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.description {
  padding-bottom: 69px;
  padding-top: 40px;
}

.description h2 {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.description p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.manufacturer-list {
  padding-left: 30px;
}

.manufacturer-list label {
  position: relative;

  font-size: 15px;
  line-height: 20px;
}

.manufacturer-list label::before {
  position: absolute;
  top: 0;
  left: -33px;
  z-index: 1;

  width: 1px;
  height: 1px;

  content: url("../img/checkbox-off-peace.svg");
}

.manufacturer-list label:hover::before {
  content: url("../img/checkbox-off-hover.svg");
}

.filter-checkbox:disabled ~ label::before {
  content: url("../img/checkbox-off-disabled.svg");
}

.filter-checkbox:disabled ~ label {
  color: rgba(0, 0, 0, 0.4);
}

.manufacturer-list li {
  padding-bottom: 20px;
  padding-left: 3px;
}

.manufacturer-list li:last-child {
  padding-bottom: 0;
}

.filter-checkbox:checked ~ label::before {
  content: url("../img/checkbox-on-peace.svg");
}

.filter-checkbox:checked:hover ~ label::before {
  content: url("../img/checkbox-on-hover.svg");
}

.filter-checkbox:checked:disabled ~ label::before {
  content: url("../img/checkbox-on-disabled.svg");
}

.filter-checkbox,
.filter-radio {
  display: none;
}

.connection-list {
  padding: 0;
  padding-left: 30px;
}

.connection-list label {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}

.connection-list label::before {
  position: absolute;
  top: -3px;
  left: -35px;
  z-index: 1;

  width: 1px;
  height: 1px;

  content: url("../img/radio-off-peace.svg");
}

.filter-radio ~ label:hover::before {
  content: url("../img/radio-off-hover.svg");
}

.filter-radio:disabled ~ label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-radio:disabled ~ label::before {
  content: url("../img/radio-off-disabled.svg");
}

.filter-radio:checked ~ label::before {
  content: url("../img/radio-on-peace.svg");
}

.filter-radio:checked:hover ~ label::before {
  content: url("../img/radio-on-hover.svg");
}

.filter-radio:checked:disabled ~ label::before {
  content: url("../img/radio-on-disabled.svg");
}

.connection-list li {
  padding-bottom: 22px;
  padding-left: 3px;
}

.banner {
  position: absolute;
  z-index: 20;

  width: 620px;
  height: 282px;

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}

.banner-main img {
  position: absolute;
  top: 55px;
  left: 85px;
}

.banner-main h2 {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 179px;

  font-size: 30px;
  line-height: 30px;
}

.banner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: rgb(241, 241, 241);
}

.banner-footer a {
  display: block;
  width: 220px;
  padding: 14px;
  margin-right: 20px;
  margin-top: 37px;
  margin-bottom: 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.banner-footer button {
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 37px;
  margin-bottom: 37px;

  font-size: 14px;
  line-height: 18px;

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

@-webkit-keyframes show-modal-write-us {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  70% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  90% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes show-modal-write-us {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  70% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  90% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes show-map {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  33% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  66% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes show-map {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  33% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  66% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
